In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
from sklearn import linear_model

In [6]:
dataset = pd.read_csv("ramen-ratings.csv", sep=",")

In [7]:
dataset.shape

(2580, 7)

In [8]:
dataset.head()

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

In [38]:
dataset.loc[:,"Top Ten"].unique()

array([nan, '2016 #10', '2016 #1', '2016 #8', '2016 #5', '2016 #9',
       '2016 #7', '2015 #10', '2015 #7', '2015 #4', '2015 #9', '2015 #6',
       '2015 #1', '2013 #10', '2015 #8', '2014 #7', '2014 #4', '2014 #9',
       '2014 #10', '2014 #8', '2014 #5', '2014 #6', '2014 #1', '2013 #1',
       '2013 #2', '2013 #4', '\n', '2013 #9', '2013 #3', '2012 #10',
       '2012 #7', '2012 #5', '2012 #3', '2012 #6', '2012 #9', '2012 #1',
       '2012 #2', '2013 #6', '2012 #4'], dtype=object)

In [39]:
columnas = list(dataset.columns)
columnas[6] = "TopTen"
dataset.columns = columnas

In [40]:
dataset.head()

,Review #,Brand,Variety,Style,Country,Stars,TopTen
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

In [41]:
dataset.TopTen.describe()

count     41
unique    38
top       \n
freq       4
Name: TopTen, dtype: object

In [43]:
dataset.Brand.unique()

array(['New Touch', 'Just Way', 'Nissin', 'Wei Lih', "Ching's Secret",
       'Samyang Foods', 'Acecook', 'Ikeda Shoku', "Ripe'n'Dry", 'KOKA',
       'Tao Kae Noi', 'Yamachan', 'Nongshim', 'TRDP', 'Binh Tay', 'Paldo',
       'Jackpot Teriyaki', 'Yum-Mie', 'MyKuali', 'Ottogi',
       'Sichuan Guangyou', 'Lipton', 'Lele', 'Fujiwara', 'Uni-President',
       'Maruchan', 'Prima', 'Sokensha', 'Takamori', 'Guava Story',
       'Samurai Ramen', 'Ogasawara', 'Pringles', "Mom's Dry Noodle",
       'Maggi', 'Indomie', 'Happy Cook', 'The Ramen Rater Select', 'TTL',
       'E-Zee', 'Kiki Noodle', 'Tokyo Noodle', 'GGE', 'Myojo', 'Sau Tao',
       'Wang', 'Daifuku', 'Master Kong', "World O' Noodle", 'Kang Shi Fu',
       'Mum Ngon', 'Fashion Food', 'Dream Kitchen', 'Ajinatori',
       "Dr. McDougall's", 'Ve Wong', 'Super Bihun', 'Xiuhe',
       'Little Cook', 'Shirakiku', "Mama Pat's", 'Goku-Uma',
       'Sichuan Baijia', 'Liang Cheng Mai', 'Gefen', 'Hua Feng',
       'Pulmuone', 'Liu Quan', 'Daikoku', 'Chuan Wei Wang', 'Wai Wai',
       'Kamfen', 'Marutai', 'Vifon', '1 To 3 Noodles', 'Fantastic',
       'Knorr', 'Sempio', 'Patanjali', 'Qin Zong', 'Pran',
       'Sapporo Ichiban', 'MAMA', 'Xiao Ban Mian', 'Suimin', 'Cintan',
       'JML', 'Unif Tung-I', 'Tablemark', "Farmer's Heart", 'Fuku',
       'Singa-Me', 'Love Cook', 'Great Value', 'Asian Thai Foods',
       'Nagatanien', 'Nyor Nyar', 'Tseng Noodles', 'A-Sha Dry Noodle',
       'Morre', 'Roland', "Mr. Lee's Noodles", 'Choumama',
       'President Rice', 'Happy Family', 'Menraku', 'La Moderna',
       'Jingqi', 'Thien Houng Foods', 'Doll', 'Four Seas', 'CarJEN',
       '7 Select', 'Oni Hot Pot', 'Weh Lih', 'Itomen', 'Sanpo',
       'Mi Sedaap', 'Tokushima Seifun', 'Mamee', 'Zow Zow', 'Koyo',
       'ORee Garden', 'A1', 'Migawon', "Chaudhary's Wai Wai",
       'Urban Noodle', 'Trident', 'Conimex', 'Prima Taste', 'MyOri',
       'Itsuki', 'Kabuto Noodles', 'IbuRamen', 'Koh Thai', 'Bamee',
       'Ibumie', 'Unox', 'Fortune', 'Bonasia', 'Mie Sedaap', 'iMee',
       'Thai Smile', 'Asia Gold', 'Pirkka', 'Higashimaru', 'Kuriki',
       'Vedan', 'Yum Yum', 'Mama', 'Baijia', 'Daraz', 'Pama', 'Seven & I',
       'Forest Noodles', "Vit's", 'Ten-In', 'Sugakiya Foods', 'Hao Way',
       'Nakaya Shouten', 'Thai Chef', 'Crystal Noodle', 'Azami', 'Super',
       'Torishi', 'Western Family', 'Chering Chang', 'Ishimaru',
       'Authentically Asian', 'Aroi', 'Koka', 'Wu-Mu', 'Yamadai',
       'Vina Acecook', 'Baixiang Noodles', 'Salam Mie', 'Lee Fah Mee',
       'Sakurai Foods', 'The Kitchen Food', 'Premiere', '7 Select/Nissin',
       'Wugudaochang', 'Emart', 'Lishan Food Manufacturing', 'Ah Lai',
       'Tropicana Slim', 'A-One', 'Deshome', 'Paldo Vina', 'Chencun',
       'United', 'ChoripDong', 'Shan', 'Ruski', 'No Name', 'New Way',
       'Lucky Me!', "Campbell's", 'One Dish Asia', 'Long Jun Hang',
       'Unif-100', 'Hankow', 'The Bridge', 'Mitoku', 'Unzen', 'Uncle Sun',
       'Mi E-Zee', 'E-mi', 'J.J.', 'Curry Prince', 'Econsave', 'Oyatsu',
       'Kin-Dee', 'Ko-Lee', 'ICA', 'Nanyang Chef', 'Thai Pavilion',
       'Miliket', 'Katoz', 'Men-Sunaoshi', 'Chewy', 'Adabi',
       'Osaka Ramen', "Sainsbury's", 'Pamana', "Annie Chun's", 'La Fonte',
       'Thai Choice', 'Tesco', 'Pop Bihun', 'Snapdragon', 'Saji',
       'Miracle Noodle', 'Tiger Tiger', 'Takamori Kosan', 'Papa',
       'Sawadee', 'Golden Wheat', 'Lotus Foods', 'Plats Du Chef',
       'Batchelors', 'Sakura Noodle', 'Unif', 'Hi-Myon', 'Healtimie',
       'Thai Kitchen', 'Mr. Noodles', 'Good Tto Leu Foods', 'GaGa',
       'Kimura', 'Tokachimen Koubou', 'ABC', 'Eat & Go', 'President',
       'SuperMi', 'Kumamoto', 'HoMyeonDang', 'Nan Jie Cun', 'China Best',
       'Sanrio', 'Peyang', 'Golden Wonder', 'Komforte Chockolates',
       'Nagao Noodle', 'Maitri', 'GS25', 'Baltix', 'Amianda',
       'Tasty Bite', 'Star Anise Foods', 'Tradition', 'Amino',
       'Pot Noodle', 'Sun Noodle', 'S&S', 'Springlife', 'Right Foods',
       'Sunlee', 'Goku Uma', 'Daddy', "Han's South Korea", 'Sarimi',
       'FMF', 'Long Kow', 'Unif / Tung-I', 'Song Hak', 'Fuji Mengyo',
       'Dragonfly', 'CJ CheilJedang', 'Dongwon', 'Seven-Eleven', 'Souper',
       "Kim's Bowl", 'Ohsung', 'Gau Do', 'Golden Mie', 'GreeNoodle',
       'Kailo', 'Fashion Foods', 'Hosoonyi', 'Payless', 'Yamamoto',
       'Saigon Ve Wong', 'Wu Mu', 'Mee Jang', 'JFC', 'Samyang',
       'Mug Shot', 'Lishan', 'Cap Atoom Bulan', 'Sura', 'Wei Chuan',
       'Yamamori', 'Mr. Udon', 'Omachi', 'Wei Wei', 'Six Fortune',
       'Haioreum', 'Sunlight', 'Noah Foods', 'O Sung', 'Foodmon',
       'Sahmyook', 'Nan Hsing', 'Mexi-Ramen', 'Hsin Tung Yang', 'Sao Tao',
       'iNoodle', 'Quickchow', 'Chikara', 'Q', 'Noodle Time', 'Gomex',
       'US Canning', 'Rhee Bros Assi', 'Bon Go Jang', 'Tayho',
       'Sunny Maid', 'Royal Umbrella', 'Tiger',
       'Fu Chang Chinese Noodle Company', 'Sanyo Foods', 'Rocket Brand',
       'Boss', 'Chorip Dong', 'Higashi', 'Sakurai', 'Global Inspiration',
       'Teriyaki Time', 'Hua Feng Noodle Expert', 'Kim Ve Wong', 'Smack',
       'Sutah', 'Tung-I', 'Westbrae'], dtype=object)

In [45]:
dataset.Stars.describe()

count     2580
unique      51
top          4
freq       384
Name: Stars, dtype: object

In [46]:
one_shot_dataset = dataset.copy()

In [47]:
dataset.Variety.unique()

array(["T's Restaurant Tantanmen ",
       'Noodles Spicy Hot Sesame Spicy Hot Sesame Guan-miao Noodles',
       'Cup Noodles Chicken Vegetable', ...,
       'Hu Tiu Nam Vang ["Phnom Penh" style] Asian Style Instant\xa0Rice\xa0Noodles',
       'Oriental Style Instant Noodles', 'Tom Yum Chili Flavor'],
      dtype=object)

In [55]:
from numpy import array
#OneHotEncoder
# https://machinelearningmastery.com/how-to-one-hot-encode-sequence-data-in-python/

In [60]:
Brand_data = list(one_shot_dataset.Brand)

In [61]:
values = array(Brand_list)